@import "reset.css";
@import "variables.css";

body {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: var(--back-color);
  background-image: linear-gradient(
      rgba(18, 18, 18, 0.5),
      rgba(30, 30, 30, 0.5)
    ),
    url(/img/0.jpg);
  background-size: cover;
  color: var(--text-color);
}

/*background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png");*/

i {
  font-size: 17.5px;
  color: var(--main-color);
}

.side-bar {
  width: 3%;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-right: 1px solid var(--main-color);
  padding-top: 20px;

  background-color: var(--back-color);
}

.main-screen {
  width: 97%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 20px 20px;
}

/* seide-bar section */

.side-bar__elements {
  margin-bottom: 20px;
}

.side-bar__elements:nth-child(3),
.side-bar__elements:nth-child(6),
.side-bar__elements:nth-child(8) {
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 20px;
}

.side-bar__elements img {
  width: 17.5px;
  height: 17.5px;
}

/* header section */
.header {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__column:first-child form {
  display: flex;
  align-items: center;
}

.header__column:nth-child(2) {
  display: flex;
  align-items: flex-start;
}

.header__d-day {
  margin-right: 20px;
}

.header__weather__icon {
  margin-right: 10px;
}

.header__weather {
  display: flex;
  flex-direction: column;
}

.header__weather__row:first-child {
  display: flex;
}
.header__weather__row:last-child {
  display: flex;
  justify-content: flex-end;
}

/* main section */
.main {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__time {
  font-size: 150px;
}

.main__greeting {
  font-size: 50px;
  margin-bottom: 30px;
}

.main__today {
  font-size: 30px;
  margin-bottom: 15px;
}

.main__courses {
  display: flex;
  margin-bottom: 20px;
}

.main__courses__course {
  margin: 0px 10px;
  border: 2px solid var(--main-color);
  padding: 20px 50px;
  border-radius: 15px 5px;
}

.main__courses__course i {
  font-size: 35px;
}

/* footer section */
.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hidden {
  display: none;
}
